[MESSAGES CONTROL]
disable=
    duplicate-code,
    fixme,
    missing-docstring,
    super-with-arguments,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-nested-blocks,
    too-many-return-statements,
    too-many-statements,
    useless-object-inheritance,

[FORMAT]
max-line-length=110
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__)|pytestmark)$
