dist: bionic
cache: pip
language: python
os: linux
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
jobs:
  include:
    - os: osx
      python: 2.7
      language: shell
    - os: osx
      python: 3.7
      osx_image: xcode11.2
      language: shell
      before_install:
        - alias pip='python3 -m pip'
    - os: windows
      python: 2.7
      language: shell
      before_install:
        - choco install python2
      env: PATH=/c/Python27:/c/Python27/Scripts:$PATH
    - os: windows
      python: 3.8
      language: shell
      before_install:
        - choco install python --version 3.8.0
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
  allow_failures:
    - os: osx # temporary disable while image is broken
      python: 3.7
before_install:
  - pip install --upgrade setuptools pip
install:
  - pip install -e .[all]
before_script:
  - pip install --upgrade pytest pytest-mock pytest-pylint pytest-cov codecov
script:
  - pytest
after_success:
  - codecov
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: mozillasecurity
  password:
    secure: V3f+OpShnYZdxHSB8i6OwUMbFeqQ8NnfmYzm8s/YH4awSbn5TqjL1wQn7cqWR7trIUgUzp+RGafHy5agk7pTUM6Pj2tLb3w336c6KJmeub0vfifRFZJySjXTFN09DX64J2FD4KeiTIyOUemgQSU0jxCpwJXQrgdInHC3EEolE0loAydVdKWwYy6W5u+BPkY64zTHsEconDmc6TMqpKTI5UN4Iy/FPKTtJ4ifHUTv0uowI5JxbjgxYpzXmqD9XgtHo8k5jwPsu0QS7LuPNnDUN8sCFQ5WPJtnkE9SLfrNkCYnSzFrxJIfKbJBDZRjNp9v2Uz2jwCvvTyGKLQeVmVacLB4IwmT0ENXiDk7wtqVEO9lPXlvRVVt0w3xV5tOV8jfNcW8dookuZSzGtZ2sxWYwcro7uzNc36le6suhmJTq6w0uoj9ubcHnrbY2A181roAWPEtyCBf25lpM+C8jGmCgXEci9LhCZH79jrSgVds4jiXd+rXMo/qU86ye/6j/o7l5fnJmw/Or7dA3JsHIvYgBy9Ryh52uhCeggIcgFohgmhcRyLD5zkdLfzqNl+kY0nI12qeSAmceP8JCiUc0LX9/3e6B4X/knJ4s/ArbF5X/V4GzorE6tNxcpfwTMh4QnzraQgSAt/JhJz1QeYMMKJ0SVzAkGePNqDCWXHFGFoS+FE=
  on:
    tags: true
    os: linux
    python: 2.7
